<% content_for :title do %>
Unife Study Groups - Registrati
<% end %>

<% content_for :head do %>
<%= stylesheet_link_tag "landing_page" %>
<%= stylesheet_link_tag "login_page" %>
<% end %>

<% content_for :style do %>
  #signup_link {color: #fff; border-bottom-color: #fff}
<% end %>

<main role="main" class="inner cover">
	<div class="container h-100">
   <div class="row align-items-center align-self-center h-100 text-center flex-column">
     <%= render partial: "flash_messages" %>
     <%= render partial: "user/form", locals: {user: @user, url: signup_path, class_name: "form-signin", submit_label: "Registrati"} %>
   </div>
 </div>
</main>