.flash-messages {
    color: white;
    width: 100%;
}

.flash-messages > * {
    width: 100%;
    padding: 4px;
    margin: 0px;
}

.flash-messages .danger {
    background-color: yellow;
}

.flash-messages .error {
    background-color: red;
}

.flash-messages .info {
    background-color: grey;
}

.flash-messages .success {
    background-color: green;
}