                <button class="btn btn-sm btn-outline-secondary dropdown-toggle shadow-sm d-md-none" data-target="#membersModal" data-toggle="modal" style="width: 110px; margin-left: -1px; margin-top: -1px">
                  <span data-feather="user"></span>
                  Membri 
                </button>

                <div class="modal fade" tabindex="-1" role="dialog" id="membersModal">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content rounded-0">
                      <div class="modal-header">
                        <h5 class="modal-title">Membri di questo gruppo</h5>
                        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <ul class="nav flex-column nav-scroll">
                        <% @group.members.each do |member| %>
                        <li class="nav-item">
                          <a class="nav-link text-secondary" href="#">
                            <span data-feather="user"></span>
                            <%= member.name %>
                          </a>
                        </li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
