                <button class="btn btn-sm btn-outline-secondary dropdown-toggle shadow-sm d-md-none" data-target="#groupsModal" data-toggle="modal">
                  <span data-feather="users"></span>
                  Gruppi
                </button>

                <div class="modal fade" tabindex="-1" role="dialog" id="groupsModal">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content rounded-0">
                      <div class="modal-header">
                        <h5 class="modal-title">Gruppi in cui sei membro</h5>
                        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <ul class="nav flex-column nav-scroll">
                         <% current_user.groups.each do |group| %>
                         <li class="nav-item">
                          <a class="nav-link text-secondary" href="/groups/<%= group.uuid %>">
                            <span data-feather="users"></span>
                            <%= group.name %>
                          </a>
                        </li>
                        <% end %> 
                        </ul>
                      </div>

                      <hr/>
                      <h6 class="sidebar-heading d-flex justify-content-between align-items-right px-3 mt-4 mb-3 ml-2 text-muted">
                        <a class="d-flex align-items-center text-muted " href="/groups/new" style="font-size: 0.75rem; text-transform: uppercase;">
                          <span data-feather="plus-circle" class="mr-2"></span> Crea Nuovo Gruppo
                        </a>
                      </h6>
                    </div>
                  </div>
                </div>
