<% content_for :title do %>
Unife Study Groups - Benvenuti
<% end %>

<% content_for :head do %>
<%= stylesheet_link_tag "landing_page" %>
<% end %>

<% content_for :style do %>
	#landing_link {color: #fff; border-bottom-color: #fff}
<% end %>


<main role="main" class="inner cover nice-text-shadow">
  <h1 class="cover-heading">Benvenuto su Unife Study Groups</h1>
  <p class="lead">Una strumento che permette agli studenti dell'Università di Ferrara di partecipare a gruppi di studio.</p>
  <p class="lead">
    <%= link_to "Login", login_path, class: "btn btn-lg btn-secondary rounded-0" %>
  </p>
</main>

